.layout_container {
    .main_wrp {
        .container {
            max-width: 1720px;
            margin: 0 auto;
            padding: 0 15px;

            @media(max-width: 767px) {
                padding: 0;
            }
        }
    }
}