.sidbar {
    width: 20%;
    background-color: #191917;
    padding: 24px;
    border-radius: 9px;
    position: relative;
    height: 100%;

    @media (max-width: 1199px) {    
        width: 30%;
    }
    @media (max-width: 767px){
        display: none;
    }
    .sidbar_menu{
        height: 55vh;
        @media (max-width: 1600px) {
            height: auto;
        }
    }

    .profile_box {
        display: flex;
        gap: 10px;
        margin-bottom: 40px;
        align-items: flex-end;
        position: relative;

        .profile_image {
            border: 1px solid #868686;
            height: 76px;
            width: 76px;
            border-radius: 6px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .user_name {
            h3 {
                font-family: "MedievalSharp", cursive;
                color: #fff;
                font-size: 18px;
                line-height: 20.34px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            p {
                color: #ffffff6c;
            }
        }

        .collapse_btn {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .menu-box {
        ul {
            li {
                &:hover{
                    a{
                        opacity: 1;
                    }
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    padding: 8px 12px;
                    gap: 12px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 21.78px;
                    opacity: 0.5;
                    margin-bottom: 16px;
                    @media (max-width: 1600px) {
                        font-size: 14px;
                    }
                }
            }
        }

        &.active {
            ul li a {
                opacity: 1;
            }
        }

        .saprator {
            background: rgb(0, 0, 0);
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(70, 54, 0, 1) 100%);
            display: block;
            height: 2px;
            width: 100%;
        }

        .notification {
            background-color: #a18527;
            height: 24px;
            width: 24px;
            display: flex;
            justify-content: center;
            border-radius: 100px;
            align-items: center;
            font-size: 12px;
        }

    }

    .project_manager {
        margin-bottom: 57px;
        @media (max-width: 1600px) {
            margin-bottom: 30px;
        }
    }

    .synergies_menu {
        .saprator {
            margin-bottom: 16px;
        }

        ul li:last-child a {
            margin-bottom: 49px;
            @media (max-width: 1600px) {
                margin-bottom: 30px;
            }
        }

    }

    .chat_profile .saprator {
        margin-bottom: 16px;
    }

    .sidbar_bottom {
        ul li a {
            color: #ff9e98;
        }

        .saprator {
            margin-bottom: 16px;
        }
    }

}