.header_wrp {
    background-color: #191917;
    padding: 22px 24px;
    margin-bottom: 30px;

    .header_btn {
        margin-left: auto;
        font-family: "MedievalSharp", cursive;
        background-color: transparent;
        border: 1px solid #f5efdb;
        font-size: 16px;
        font-weight: 500;
        color: #f5efdb;
        padding: 9px 17px;
        display: block;
    }
}