.header_wrp {
    background-color: #191917;
    padding: 22px 24px;
    margin-bottom: 30px;


    @media(max-width: 1600px) {
        padding: 10px 15px;
        margin-bottom: 20px;
    }

    @media(max-width: 767px) {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
    }

    .header_title {
        color: #F5EFDB;
        font-family: "MedievalSharp", cursive;
        font-size: 24px;
        display: none;

        @media(max-width: 767px) {
            display: block;
        }
    }

    .sidbar_btn {
        background-color: transparent;
        border: none;
        display: none;

        @media(max-width: 767px) {
            display: block;
        }
    }


    .header_btn {
        margin-left: auto;
        font-family: "MedievalSharp", cursive;
        background-color: transparent;
        border: 1px solid #f5efdb;
        font-size: 16px;
        font-weight: 500;
        color: #f5efdb;
        padding: 9px 17px;
        display: block;

        @media(max-width: 1600px) {
            font-size: 14px;
        }

        @media(max-width: 767px) {
            display: none;
        }
    }
}