@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: url(./assets/body-bg.png);
  background-size: cover;
}

a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

button {
  cursor: pointer;
}
input:focus{
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}